.FutureForecast {
  display: block;
  color: rgba(256, 256, 256, 0.8);
  margin: 0 auto;
  max-width: 450px;
  border: 0.5px solid rgba(256, 256, 256, 0.8);
  padding: 10px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 15px;
  font-size: 16px;
  color: rgba(256, 256, 256, 0.6);
}

.FutureForecast ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.FutureForecast .day {
  width: 20%;
  display: inline-block;
}

.FutureForecast .weekDay {
  font-size: 20px;
  color: rgba(256, 256, 256, 0.9);
}

.FutureForecast .date,
.FutureForecast .max {
  margin-bottom: 5px;
}
